#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><text x="10" y="40" font-size="40" opacity="0.5">🥕</text><text x="60" y="40" font-size="40" opacity="0.5">🥬</text><text x="110" y="40" font-size="40" opacity="0.5">🍅</text><text x="160" y="40" font-size="40" opacity="0.5">🌽</text><text x="10" y="100" font-size="40" opacity="0.5">🍆</text><text x="60" y="100" font-size="40" opacity="0.5">🥔</text><text x="110" y="100" font-size="40" opacity="0.5">🧄</text><text x="160" y="100" font-size="40" opacity="0.5">🧅</text></svg>');
  background-repeat: repeat;
  background-position: center;
  background-size: 100px 100px;
  height: 100vh;
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
